@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply overflow-hidden font-lora font-light;
  }
}
@layer components {
  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#fdffed]
    to-[#98cfff];
  } */
  /* .app {
    @apply bg-gradient-to-b
    from-[#eaafc8]
    to-[#654ea3];
  } */
  /*
    Colors to apply times 
  */

  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#eaafc8]
    to-[#654ea3];
  } */
  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#659999]
    to-[#f4791f];
  } */
  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#4286f4]
    to-[#373B44];
  } */

  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#5b9bc5]
    to-[#006eff];
  } */
  .Imsak {
    @apply bg-gradient-to-t
    from-[#3D7EAA]
    to-[#FFE47A];
  }
  .Sunrise {
    @apply bg-gradient-to-t
    from-[#f8c54f]
    to-[#e26d71];
  }
  .Dhuhr {
    @apply bg-gradient-to-t
    from-[#108dc7]
    to-[#ef8e38];
  }
  .Asr {
    @apply bg-gradient-to-t
    from-[#479bfa]
    to-[#e04a45];
  }

  .Maghrib {
    @apply bg-gradient-to-t
    from-[#C06C84]
    via-[#6C5B7B]
    to-[#355C7D];
  }

  /* .Isha {
    @apply bg-gradient-to-b
    from-[#1d2e3a]
    to-[#3A6073];
  } */

  .Isha {
    @apply bg-gradient-to-b
    from-[#0F2027]
    via-[#203A43]
    to-[#2C5364];
  }
  /* Page content */
  .active-time {
    @apply bg-gradient-to-tl;
  }
  .page-container {
    @apply flex 
    items-center
    h-screen;
  }
  .home {
    @apply flex-row
    justify-center;
  }
  .settings {
    @apply justify-evenly
    mx-auto
    max-w-xl
    flex-col;
  }
  .dropdown-menu {
    @apply flex
    z-50
    flex-col
    items-start
    justify-start
    p-4
    h-auto
    w-full
    min-w-[100px]
    max-h-[200px]
    overflow-y-auto
    bg-slate-100
    space-y-2
    rounded-md
    shadow-xl;
  }
  .settings-item {
    @apply flex
    justify-center
    items-center
    w-full
    h-14
    rounded-md
    p-3;
  }
  .settings-card {
    @apply flex
    flex-col
    items-center
    justify-evenly
    p-8
    mt-5;
  }
  .settings-text {
    @apply text-xl font-semibold text-stone-800;
  }

  .inactive-text {
    @apply w-[200px]
    relative
    rotate-left
    mb-20
    space-x-9;
  }
  .active-text {
    @apply flex
    text-center
    justify-center
    flex-col
    items-center
    space-y-10;
  }
  .inactive-card-container {
    @apply flex
    flex-col
    justify-end
    items-center
    w-[10%]
    h-full
    bg-blue-700;
  }

  .active-card-container {
    @apply w-[50%]
    justify-evenly
    mx-auto
    bg-orange-400;
  }
  .rotate-left {
    @apply rotate-[-90deg];
  }
  .padding-sm {
    @apply pb-20
    px-1;
  }
}
