@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply bg-black overflow-hidden font-lora font-light;
  }
}
@layer components {
  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#fdffed]
    to-[#98cfff];
  } */
  /* .app {
    @apply bg-gradient-to-b
    from-[#eaafc8]
    to-[#654ea3];
  } */
  /*
    Colors to apply times 
  */

  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#eaafc8]
    to-[#654ea3];
  } */
  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#659999]
    to-[#f4791f];
  } */
  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#4286f4]
    to-[#373B44];
  } */

  /* .Dhuhr {
    @apply bg-gradient-to-b
    from-[#5b9bc5]
    to-[#006eff];
  } */
  .Imsak {
    @apply bg-gradient-to-t
    from-[#3D7EAA]
    to-[#FFE47A];
  }
  .Sunrise {
    @apply bg-gradient-to-t
    from-[#108dc7]
    to-[#ef8e38];
  }

  .Dhuhr {
    @apply bg-gradient-to-b
    from-[#fcce65]
    to-[#e26d71];
  }

  .Asr {
    @apply bg-gradient-to-b
    from-[#479bfa]
    to-[#e04a45];
  }

  .Maghrib {
    @apply bg-gradient-to-b
    from-[#C06C84]
    via-[#6C5B7B]
    to-[#355C7D];
  }

  .Isha {
    @apply bg-gradient-to-b
    from-[#0F2027]
    via-[#203A43]
    to-[#2C5364];
  }
  /* Page content */
  .active-time {
    @apply bg-gradient-to-tl;
  }
  .page-container {
    @apply flex 
    items-center
    h-screen;
  }
  .home {
    @apply flex-row
    justify-center;
  }
  .settings {
    @apply bg-black
    justify-evenly
    p-8
    mx-auto
    max-w-xl
    flex-col;
  }

  .settings-item {
    @apply flex
    justify-center
    items-center
    w-full
    h-14
    rounded-md
    p-3;
  }
  .settings-text {
    @apply text-xl font-medium;
  }

  .inactive-text {
    @apply w-[200px]
    relative
    rotate-left
    mb-20
    space-x-9;
  }
  .active-text {
    @apply flex
    text-center
    justify-center
    flex-col
    items-center
    space-y-10;
  }
  .inactive-card-container {
    @apply flex
    flex-col
    justify-end
    items-center
    w-[10%]
    h-full
    bg-slate-100;
  }

  .active-card-container {
    @apply w-[50%]
    justify-evenly
    mx-auto
    bg-orange-400;
  }
  .rotate-left {
    @apply rotate-[-90deg];
  }
  .padding-sm {
    @apply pb-20
    px-1;
  }
}
