@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply bg-black overflow-hidden font-lora font-light;
  }
}
@layer components {
  .page-container {
    @apply flex 
    items-center
    h-screen;
  }
  .home {
    @apply flex-row
    justify-center;
  }
  .settings {
    @apply bg-black
    justify-evenly
    p-8
    mx-auto
    max-w-xl
    flex-col;
  }

  .settings-item {
    @apply flex
    justify-center
    items-center
    w-full
    h-14
    rounded-md
    p-4;
  }
  .settings-text {
    @apply text-xl font-medium;
  }

  .inactive-text {
    @apply w-[200px]
    relative
    rotate-left
    mb-20
    space-x-9;
  }
  .active-text {
    @apply flex
    text-center
    justify-center
    flex-col
    items-center
    space-y-10;
  }
  .inactive-card-container {
    @apply flex
    flex-col
    justify-end
    items-center
    w-[10%]
    h-full
    bg-slate-100;
  }

  .active-card-container {
    @apply w-[50%]
    justify-evenly
    mx-auto
    bg-orange-400;
  }
  .rotate-left {
    @apply rotate-[-90deg];
  }
  .padding-sm {
    @apply pb-20
    px-1;
  }
}
