@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply overflow-hidden;
  }
}
@layer components {
  .home {
    @apply bg-amber-500 
    justify-around
    flex-row;
  }
  .settings {
    @apply bg-black
    justify-evenly
    p-8
    mx-auto
    max-w-xl
    flex-col;
  }
  .page-container {
    @apply flex 
    justify-between
    items-center
    w-screen
    h-screen;
  }
  .menu {
    @apply w-full
    h-14
    rounded-md
    p-4;
  }
  .text-container {
    @apply rotate-[-90deg]
    flex
    flex-row
    items-baseline
    space-x-10
    mt-[30rem]
    text-right;
  }
  .time-card-container {
    @apply flex
    justify-center
    items-center
    w-[10%]
    h-[100%]
    bg-slate-100;
  }
}
